# SPDX-License-Identifier: MIT

if BOARD_TECHNIKABLE

config ZMK_KEYBOARD_NAME
	default "Technikable"

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

config BT_CTLR
	default BT

endif # BOARD_TECHNIKABLE
